:root {
    --accent-color: #FF6E30;
    --main-color: rgba(255, 255, 255, 0.55);
    --add-color: rgba(255, 165, 55, 0.55);
    --bg-color: #1E252B;
}
/*Скидывание*/
h1,
h2,
h3,
h4,
p {
margin-top: 0;
margin-bottom: 0;
}
ul {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}
img {
display: block;
max-width: 100%;
height: auto;
}
.list {
list-style: none;
padding: 0;
}
.link {
text-decoration: none;
}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
/*Конец скидывания*/

/*Контейнер*/
.container {
    width: 1254px;
    margin: 0 auto;
    padding: 0 15px;
}
/*Конец стилизации контейнера*/